
.main {
  align-content: center;
}

:root {
  --table-odd: #ddd;
  --table-even: #fff;
  --comic-sans: "Comic Sans", sans-serif;
  --box-shadow: 3px 3px 0.1px #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--comic-sans);
  background-color: rgb(242, 239, 235);
}

.main-title {
  font-family: var(--comic-sans);
  font-size: 3.9rem;
  padding: 3%;
  margin-left: 10%;
}

.main-content {
  margin-top: 2rem;
  display: flex;
  gap: 12%;
  justify-content: center;
}

.recent-title-btn {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.recent-title {
  font-family: var(--comic-sans);
  font-size: 2.5rem;
}

.refresh-btn {
  font-family: var(--comic-sans);
}

.recent-list {
  list-style: none;
  border: 2px solid black;
  width: 100%;
  padding: 0;
}

.recent-score {
  padding: 10px;
  display: flex;
}

.recent-list :nth-child(odd) {
  background-color: var(--table-odd);
}

.recent-list:nth-child(even) {
  background-color: var(--table-even);
}

.add-title {
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input {
  padding: 10px;
}

button {
  padding: 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: rgb(47, 161, 255);
}

@media only screen and (max-width: 650px) {
  .main-content {
    flex-direction: column;
  }

  .main-title {
    text-align: center;
    margin: 0;
    padding: 2%;
    font-size: 3rem;
  }

  .form-add,
  .score-board {
    padding: 2%;
  }
}
